<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css'>
    <link rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.css'>
    <style>
        .ta-editor {
            min-height: 300px;
            height: auto;
            overflow: auto;
            font-family: inherit;
            font-size: 100%;
        }
    </style>

    <script src='bower_components/angular/angular.min.js'></script>

    <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>

    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>

    <script src='bower_components/textAngular/dist/textAngularSetup.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.js'></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">

</head>
<body>
<div id="ng-app" ng-app="textAngularDemo" ng-controller="demoController" class="ng-scope">
    <br>
    <div class="container">
        <a href="http://github.com/fraywing/textAngular"> <img src="http://textangular.com/images/textAngularLogo.png" style="max-width:500%;" class="lighter"></a>
    </div>
    <br>
    <div class="container border-around text-center lighter">
        <span class="text-xlg roboto">A Lightweight, Two-Way-Bound &amp; Totally <b class="text-red">Awesome</b> Angular.js Text-Editor</span>
    </div>
    <div class="container lighter">
        <div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
    </div>
    <br>
    <div class="container text-center lighter border-around">
        <div class="lighter roboto">
            <p ng-bind="htmlContent" class="text-left text-med text-gray"></p>
        </div>
    </div>
    <br>

</div>
<script type="text/javascript">
    angular.module("textAngularDemo", ['textAngular'])
            .controller("demoController", function demoController($scope) {
                $scope.htmlContent = '<h2>Try me!</h2><p>textAngular is a super cool WYSIWYG Text Editor directive for AngularJS</p><p><b>Features:</b></p><ol><li>Automatic Seamless Two-Way-Binding</li><li style="color: blue;">Super Easy <b>Theming</b> Options</li><li>Simple Editor Instance Creation</li><li>Safely Parses Html for Custom Toolbar Icons</li><li>Doesn&apos;t Use an iFrame</li><li>Works with Firefox, Chrome, and IE9+</li></ol><p><b>Code at GitHub:</b> <a href="https://github.com/fraywing/textAngular">Here</a> </p>';
            });
</script>

</body>
</html>